body{
    background-image:url(signup.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
.container{
    text-align: center;
    background-color: white;
    margin: 0 auto;
    border:groove;
border-radius: 10px;
margin-right: 35%;
margin-left: 35%;
margin-top: 5%;
}

.container.item{
    display:flex;
flex-direction: row;
flex: 2;
}
.icon-link{
align-content: center;
justify-content: space-between 10px;
}
#username{
  width: 60%;
  height: 30px;
  border-radius: 5px;
}
.back{
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    color:black;
    background-color:white;
    border-radius: 5px;
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.back.hover.{
    
}